
div
{
    background-color: red;
    color: white;
    font-size: 32px;
    font-weight: bold;
}
/*p{
    color: white;
    font-size: 18px;
    font-style: italic;
    background-color: green;
}
button{
    background-color: orange;
    color: black;
    font-size: 18px;
    
}*/